@model Alumno

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Detalles del Alumno</h2>

<div>
    <p>Nombre Completo: @Model.Nombre</p>
    <p>Usuario: @Model.Usuario</p>
    <p>Email: @Model.Email</p>
    <p>Ciclo: @Model.Ciclo</p>
    <p>Curso: @Model.Curso</p>
    <p>Idiomas:</p>
    @if (Model.Idiomas.Count!=0)
    {
        @foreach (var i in Model.Idiomas)
            {
             <li>@i</li>
            }
    }
</div>