@model List<MecanicoModel>
@{
}


<table class="table">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Correo</th>
        <th scope="col">Fecha de Alta</th>
    </thead>
    <tbody>
        @foreach (var mec in Model)
        {
            <tr>
                <th scope="row">@mec.Id</th>
                <td><img src="@mec.FotoMecanico" class="table-image"/></td>
                <td>@mec.Nombre</td>
                <td>@mec.Apellido</td>
                <td>@mec.Telefono</td>
                <td>@mec.Correo</td>
                <td>@mec.FechaAlta</td>
            </tr>
        }
    </tbody>
</table>