@model Ciclos

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>

    <a asp-action="Index" class="btn btn-outline-secondary mb-3">&larr; Back</a>

    <h1 class="text-primary">
        Información ciclo
    </h1>

    <div class="card p-4">
        <h3>Detalles</h3>
        <h5>Datos del ciclo seleccionado</h5>
        <p>Ciclo: @Model.codigo</p>
        <p>Siglas: @Model.siglas</p>
        <p>Nombre: @Model.nombre</p>
        <p>Cursos: @Model.cursos</p>
        <a class="btn btn-primary col-3 mb-2" asp-controller="Alumnos" asp-action="Index" asp-route-siglas="@Model.siglas">Ver Alumnos</a>
        <a class="btn btn-primary col-3" asp-controller="Cursos" asp-action="Index" asp-route-siglas="@Model.siglas">Ver Cursos</a>
    </div>
</div>