@using Practica6.Helpers
@model List<JobOffer>

@{
    ViewData["Title"] = "Ofertas de trabajo del estudiante";
    string email = Context.Session.GetObject<User>("User").Email;
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>@ViewData["Title"]</h2>
        <span class="text-muted">Sesión iniciada como: @email</span>
    </div>

    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Nombre</th>
                    <th>Empresa</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var jobOffer in Model)
                {
                    <tr>
                        <td>@jobOffer.Id</td>
                        <td>@jobOffer.Name</td>
                        <td>@jobOffer.Company</td>
                        <td>@jobOffer.Description</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No hay ofertas disponibles para este estudiante.</p>
    }
    <br />
    <a href="@Url.Action("Logout", "Home")" class="btn btn-secondary btn-sm">Cerrar Sesión</a>
</div>